@model GameCriticApp.Models.Game

@using (Html.BeginForm())
{
    <div>
        @Html.EditorFor(model => Model.Name)
    </div>
    <div>
        @Html.EditorFor(model => Model.Description)
    </div>
    <div>
        @Html.EditorFor(model => Model.Genre)
    </div>
    <div>
        @Html.EditorFor(model => Model.Company)
    </div>

    <input type="submit" value="Submit" id="btnSubmit"/>
}